.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
text-align: center;
}

.dialogsItems .active{
    color: #000000;
    background-color: #cfe8ff;
}

.messages {
    padding: 10px;
}

.message {

}